html {
  background-color: rgba(16, 14, 14, 0.842);
  text-align: center;
  align-items: center;
  padding: 10px;
}

#item1 img {
  height: 100px;
}


a {
  color: white;
  text-decoration: none;
  font: bold 12px Arial, Helvetica, sans-serif;
}

header {
  height: 100px;
  border: 3px solid;
  text-align: center;

}

.grid2,
.FrontPage {
  color: white;
}

#TestDrive {
  color: white;
  text-align: left;
}

#TestDrive img {
  height: 100px;
}

.FeatureList {
  text-align: left;
}

@media screen and (max-width: 590px) {

  .wrapper {
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    align-items: center;
  }

  .nav_grid {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1fr;
    align-items: center;
  }

  #item2,
  #item3,
  #item4 {
    display: none;
  }


  .grid2 img {
    height: auto;
    width: 90vw;
  }

  .grid2 a img {
    height: auto;
    width: 30vw;
  }

  .FrontPage img {
    width: 90vw;
    height: auto;
  }


}

@media screen and (min-width: 590px) and (max-width: 790px) {
  .wrapper {
    display: grid;
    height: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    overflow: auto;
  }

  .nav_grid {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: auto;
    align-items: center;

  }

  #TestDrive {
    grid-column: 1/span 2;
  }

  .grid2 img {
    height: auto;
    width: 45vw;
  }

  .grid2 a img {
    height: auto;
    width: 10vw;
  }

  .FrontPage img {
    width: 90vw;
    height: auto;
  }
  table, th, td {
    border: 2px solid white;
    color: white;
    height: auto;
    width: 10vw;
    text-align: center;
    font:  20px monospace; 
    border-collapse: collapse;
  }
  .boldleft, .boldtop{
    font:  bold 22px monospace; 
  }
  .boldleft{
    text-align: left;
  }
}

@media screen and (min-width: 790px) {
  body {
    margin: 0 auto;
    width: 790px;
  }

  .nav_grid {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
  }

  .wrapper {
    display: grid;
    height: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    overflow: auto;
    grid-gap: 10px;
  }

  .grid2 img {
    height: auto;
    width: 390px;
  }

  .grid2 a img {
    height: auto;
    width: 100px;
  }

  #TestDrive {
    grid-column: 1/span 2;
  }

  .FrontPage img {
    width: 790px;
    height: auto;
  }
}